.artifactory {
}

.artifactory-products {
    float: left;
}

.artifactory-product {
    margin-left: 215px;
}

.artifactory-product-details {
    margin-bottom: 15px;
}

.artifactory-product-details-name {
    font-weight: bold;
}

.artifactory-product-detail {
}

.artifactory-product-detail-key {
    font-size: 10pt;
    font-style: italic;
}

.artifactory-property {
}

.artifactory-property-key {
}

.artifactory-property-value {
    margin-left: 10px;
    font-size: 10pt;
    font-style: italic;
}

.artifactory-product-update-recommended {
    color: red;
}
