html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#logo-image {
    width: 455px;
    height: 199px;
}

#header {
    background-color: #DDDDDD;
    width: 100%;
    display: inline-flex;
    height: 199px;
}

#header-content {
    width: 100%;
    margin-top: 140px;
    padding: 10px;
    padding-top: 20px;
}

#page {
    display: flex;
    height: calc(100vh - 199px);
    /* calculate the height. Header is 199px */
}

#side-bar {
    background-color: #DDDDDD;
    padding: 5px;
    width: 150px;
}

#content {
    padding: 5px;
    flex: 1 0 auto;
    overflow: scroll;
}

.border-box {
    border-width: 4px;
    border-color: black;
    border-style: solid;
}

.artifactory-product-details {
    margin-bottom: 15px;
}

.artifactory-product-details-name {
    font-weight: bold;
}

.artifactory-product-detail {
    margin-left: 25px;
}

.artifactory-product-detail-key {
    font-size: 10pt;
    font-style: italic;
}
